@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */

*{
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

a{
    text-decoration: none;
    transition: all 0.5s ease-in-out; 
}

/* Header */



header *{
    text-transform: capitalize;
    color: black;
}

header>div{
    margin: 32px 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

header>div>a{
    font-size: 24px;
    font-weight: 800;
    
}

header>div>a>i{
    color: #FFFFFF;
    padding: 5px;
    background-color: #4F46E5;
    border-radius: 12px;
    margin-right: 10px;
}

header>div>div{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 32px;
}

header>div>div>a{
    font-size: 16px;
    font-weight: 600;
}

header>div>#Bouton{
    font-size: 16px;
    background-color: #0F172A;
    padding: 10px;
    color: white;
    border-radius: 9999px;
    transition: all 0.5s ease-in-out;

    &:hover{
        background-color: white;
        color: #0F172A;
        transition: all 0.5s ease-in-out;
    }
}

/* Main */

main{
    max-width: 1152px;
    margin: auto;
}

main>#Section1{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main>#Section1>div{
    margin: 50px auto;
    max-width: 520px;
}

main>#Section1>div>h1{
    max-width: max-content;
    color: #4338CA;
    font-size: 14px;
    background-color: #E0E7FF;
    padding: 8px 16px;
    border-radius: 9999px;
}

main>#Section1>div>h2{
    color: #0F172A;
    font-size: 72px;
    font-weight: 800;
}

main>#Section1>div>h2>span{
    color: #4F46E5;
}

main>#Section1>div>p{
    font-size: 20px;
    font-weight: 400;
    color: #475569;
    line-height: 34px;

    margin-bottom: 40px;
}

main>#Section1>div>div>a{
    padding: 16px 32px;
    border-radius: 16px;
}
main>#Section1>div>div>a>img{
    margin-right: 5px;
}

main>#Section1>div>div>#AppStore{
    color: white;
    background-color: #0F172A;
    transition: all 0.5s ease-in-out;

    &:hover{
        transition: all 0.5s ease-in-out;
        background-color: rgb(227, 227, 227);
        color: #0F172A;
    }
}

main>#Section1>div>div>#PlayStore{
    border: #E2E8F0 2px solid;
    color: #0F172A;
    background-color : rgb(227, 227, 227);;
    transition: all 0.5s ease-in-out;

    &:hover{
        transition: all 0.5s ease-in-out;
        background-color: #0F172A;
        color: white;
    }
}


/* Footer */

footer{
    background-color: #0F172A;
    padding: 64px 0;
}

footer *{
    color: #94A3B8;
    text-transform: capitalize;
}

footer>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

footer>div>a{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

footer>div>a>i{
    padding: 10px;
    background-color: #4F46E5;
    border-radius: 12px;
    margin-right: 10px;
    font-size: 12px;
}

footer>div>div{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 32px;
}