@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */

*{
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

a{
    text-decoration: none;
    transition: all 0.5s ease-in-out; 
}

/* Header */



header *{
    text-transform: capitalize;
    color: black;
}

header>div{
    margin: 32px 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

header>div>a{
    font-size: 24px;
    font-weight: 800;
    
}

header>div>a>i{
    color: #FFFFFF;
    padding: 5px;
    background-color: #4F46E5;
    border-radius: 12px;
    margin-right: 10px;
}

header>div>nav{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 32px;
}

header>div>nav>a{
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #4F46E5;
    }
    
}

header>div>#Bouton{
    font-size: 16px;
    background-color: #0F172A;
    padding: 10px;
    color: white;
    border-radius: 9999px;
    transition: all 0.5s ease-in-out;

    &:hover{
        background-color: white;
        color: #0F172A;
        transition: all 0.5s ease-in-out;
    }
}

/* Main */


/* Section 1 */

main>#Section1{
    max-width: 1152px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main>#Section1>div{
    margin: 50px auto;
    max-width: 520px;
}

main>#Section1>div>h1{
    max-width: max-content;
    color: #4338CA;
    font-size: 14px;
    background-color: #E0E7FF;
    padding: 8px 16px;
    border-radius: 9999px;
}

main>#Section1>div>h2{
    color: #0F172A;
    font-size: 72px;
    font-weight: 800;
}

main>#Section1>div>h2>span{
    color: #4F46E5;
}

main>#Section1>div>p{
    font-size: 20px;
    font-weight: 400;
    color: #475569;
    line-height: 34px;

    margin-bottom: 40px;
}

main>#Section1>div>div>a{
    padding: 16px 32px;
    border-radius: 16px;
}
main>#Section1>div>div>a>img{
    margin-right: 5px;
}

main>#Section1>div>div>#AppStore{
    color: white;
    background-color: #0F172A;
    transition: all 0.5s ease-in-out;

    &:hover{
        transition: all 0.5s ease-in-out;
        background-color: rgb(227, 227, 227);
        color: #0F172A;
    }
}

main>#Section1>div>div>#PlayStore{
    border: #E2E8F0 2px solid;
    color: #0F172A;
    background-color : rgb(227, 227, 227);;
    transition: all 0.5s ease-in-out;

    &:hover{
        transition: all 0.5s ease-in-out;
        background-color: #0F172A;
        color: white;
    }
}

main>#Section1>#Telephone{
    position: relative;
}

main>#Section1>#Telephone>img{
    max-width: 100%;
}

main>#Section1>#Telephone>article{
    position: absolute;
    bottom: 158px;
    right: -28px;
    padding: 20px;
    background-color: #F1F5F9;
    border-radius: 16px;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    box-shadow: 10px 5px rgba(128, 128, 128, 0.15);
}

main>#Section1>#Telephone>article>h3{
    color: #16A34A;
    font-size: 16px;
    background-color: #DCFCE7;
    padding: 5px;
    border-radius: 9999px;
}


main>#Section1>#Telephone>article>div>h4{
    color: #0F172A;
    font-size: 12px;
}
main>#Section1>#Telephone>article>div>p{
    color: #64748B;
    font-size: 10px;
}

/* Section 2 */

main>#Section2{
    max-width: 1152px;
    margin: auto;
}

main>#Section2>h2{
    color: #0F172A;
    font-size: 36px;
    text-align: center;
}

main>#Section2>p{
    max-width: 633px;
    color: #64748B;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

main>#Section2>div{
    margin: 96px auto;
    max-width: 976px;
    display: grid;
    grid-template-columns: repeat(3,336px);
    gap: 48px;
}

main>#Section2>div .fa-triangle-exclamation{
    background-color: #FFEDD5;
    color: #EA580C;
    padding: 14px;
    border-radius: 16px;

    margin-bottom: 20px;
}
main>#Section2>div .fa-cloud{
    background-color: #DCFCE7;
    color: #2563EB;
    padding: 14px;
    border-radius: 16px;

    margin-bottom: 20px;
}
main>#Section2>div .fa-book-open{
    background-color: #F3E8FF;
    color: #9333EA;
    padding: 14px;
    border-radius: 16px;

    margin-bottom: 20px;
}

main>#Section2>div>article>h3{
    color : #0F172A;
    font-size: 20px;
    margin-bottom: 10px;
}

main>#Section2>div>article>p{
    color: #475569;
    font-size: 14px;
    max-width: 270px;
}

/* Section 3 */

main>#Section3{
    background-color: #F8FAFC;
    margin-bottom: 20px;
}

main>#Section3>div{
    max-width: 1152px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main>#Section3>div>article>ul{
    padding: 20px;
}

main>#Section3>div>article>ul>li{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    
}

main>#Section3>div>article>h2{
    color: #0F172A;
    font-size: 36px;
    margin-left: 20px;
    max-width: 518px;
    margin-bottom: 30px;
    margin-top: 30px;
}
main>#Section3>div>article>p{
    color: #475569;
    font-size: 18px;
    margin-left: 20px;
    max-width: 518px;
    margin-bottom: 30px;
}

main>#Section3>div>article>ul>li>article>p{
    color: #64748B;
    font-size: 16px;
}

main>#Section3>div>article>ul>li>p{
    max-height: max-content;
    max-width: 10px;
    width: 1em; 
    color: white;
    background: linear-gradient(135deg, #4F46E5 0%, #9333EA 100%);
    padding: 14px 20px;
    border-radius: 9999px;
    text-align: center;
    align-content: center;
    margin-right: 20px;
}

main>#Section3 #Image_Cercle{
    max-width: 100%;
    margin: auto;

}

/* Section 4 */

main>#Section4{
    margin: 90px 0;
}

main>#Section4>div{
    margin: auto;
    max-width: 1152px;
}

main>#Section4>div>h2{
    color: #0F172A;
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}

main>#Section4>div>div{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 80px;
    justify-content: center;
}

main>#Section4>div>div>article{
    border-radius: 30px;
    &:hover{
        box-shadow:1px 5px 0 rgba(128, 128, 128, 0.25);
    }
}

main>#Section4>div>div>article>p{
    color: #475569;
    font-size: 16px;
    max-width: 280px;
}

main>#Section4>div>div>article>div{
    margin-top: 20px;
    display: grid;
    grid-template-columns: max-content max-content ;
    align-items: center;;
}

main>#Section4>div>div>article>div>article{
    margin-left: 20px;
}

main>#Section4>div>div>article>div>article>h3{

    color: #0F172A;
    font-size: 16px;
    font-weight: 700;
}

main>#Section4>div>div>article>div>article>p{
    color: #64748B;
    font-size: 12px;
}

main>#Section4>div>div>article>div>p{
    font-size: 16px;
    font-weight: 700;
    padding: 16px 20px;
    border-radius: 9999px;
}

main>#Section4>div>div>article>div>#JS{
    color: #4338CA;
    background-color: #C7D2FE;
}
main>#Section4>div>div>article>div>#MD{
    color: #BE185D;
    background-color: #FBCFE8;
    padding: 16px 14px;
}
main>#Section4>div>div>article>div>#TL{
    color: #15803D;
    background-color: #BBF7D0;
}

/* Footer */

footer{
    background-color: #0F172A;
    padding: 64px 0;
}

footer *{
    color: #94A3B8;
    text-transform: capitalize;
}

footer>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

footer>div>a{
    color: white;
    font-size: 20px;
    font-weight: 700;

}

footer>div>a>i{
    padding: 10px;
    background-color: #4F46E5;
    border-radius: 12px;
    margin-right: 10px;
    font-size: 12px;
}

footer>div>div{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 32px;
}

footer>div>div>a:hover{
        color: white;
    }


/* Responsive */

@media screen and (max-width:1024px){
    main>#Section1>#Telephone>article {
    bottom: 120px;
    right: 10px;
    }

    main>#Section2>div{
        gap: 0px;
    }

    main>#Section2>div>article{
        max-width: max-content;
    }

    main>#Section2>div>article *{
        max-width: 218px;
        margin: 0 20px;
    }
}


@media screen and (max-width:1000px){
    main>#Section4>div>div{
        display: flex;
        justify-content: center;
        gap: 40px;}

    main>#Section2>div{
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:767px){
        header>div{
            grid-template-columns: 1fr 1fr;
        }

        header>div>nav{
            display: none;
        }

        main>#Section1{
            grid-template-columns: 300px;
        }

        main>#Section1>div>h2{
            max-width: 300px;
            font-size: 48px;
        }

        main>#Section1>div>div{
            display: grid;
            grid-template-columns: 300px;
            text-align: center;
        }

        main>#Section1>#Telephone>article{
            display: none;
        }

        main>#Section2>div{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 320px;
        }

        main>#Section2>div>article{
            margin: 50px 0;
        }

        main>#Section3>div{
            grid-template-columns: 1fr;
        }

        main>#Section4>div>div{
            display: grid;
            grid-template-columns: 320px;
            gap: 150px;
            gap: 040px;
        }


    main>#Section4>div>div>article{
        max-width: 300px;
    }

        footer>div{
            grid-template-columns: 1fr;
            text-align: center;
        }
    }